<ui-base-overlay [title]="'Create User'">
  <div body>
    <form class="grid grid-cols-1 md:grid-cols-2 gap-x-4 gap-y-4" (submit)="onSubmit()">
      <app-text-input [label]="'First Name'" [fullWidth]="true" [placeholder]="'First Name'" [formField]="userForm.firstName"></app-text-input>
      <app-text-input [label]="'Last Name'" [fullWidth]="true" [placeholder]="'Last Name'" [formField]="userForm.lastName"></app-text-input>
      <app-text-input type="email" [label]="'Email'" [fullWidth]="true" [placeholder]="'Email'" [formField]="userForm.email"></app-text-input>
      <app-text-input [label]="'Phone Number'" [fullWidth]="true" [placeholder]="'Phone Number'" [formField]="userForm.phoneNumber"></app-text-input>
      @if (!isOrganizationUser) {
        <ui-select-dropdown-field
          [label]="'User Type'"
          [options]="userTypeOptions"
          [displayProperty]="'name'"
          [valueProperty]="'id'"
          [field]="userForm.userType"
          [width]="'full'"
        ></ui-select-dropdown-field>
      }
      <app-text-input type="password" [label]="'Password'" [fullWidth]="true" [placeholder]="'Password'" [formField]="userForm.password"></app-text-input>
      <div class="md:col-span-2 flex justify-center">
        <ui-button [loading]="createUserMutation.isLoading()" type="submit">Submit</ui-button>
      </div>
    </form>
  </div>
</ui-base-overlay>
