<div class="w-full sm:px-4 h-full flex flex-col gap-4">

  <div class="flex flex-col gap-1">
    <div>
      <h1 class="text-xl font-semibold text-neutral-800">Permissions</h1>
    </div>
    <p class="text-sm text-neutral-600">Define resource-action permissions and manage permission settings.</p>
  </div>

  <!-- Table -->
  <div class="flex-1 min-h-0">
    <ui-data-table
      class="block h-full"
      [columnGroups]="columnGroups"
      [data]="permissionList.value()?.data ?? []"
      [totalCount]="permissionList.value()?.data?.length ?? 0"
      [hasError]="!!permissionList.error()"
      [tableActions]="tableActions"
      (tableAction)="onTableAction($event)"
      (rowClick)="onRowClicked($event)"
    ></ui-data-table>
  </div>

</div>
