<div class="w-full sm:px-4 h-full flex flex-col gap-4">

  <div class="flex flex-col gap-1">
    <div>
      <h1 class="text-xl font-semibold text-neutral-800">Roles</h1>
    </div>
    <p class="text-sm text-neutral-600">Create and manage RBAC roles for fine-grained access control.</p>
  </div>

  <!-- Table -->
  <div class="flex-1 min-h-0">
    <ui-data-table
      class="block h-full"
      [columnGroups]="columnGroups"
      [data]="roleList.value()?.data ?? []"
      [totalCount]="roleList.value()?.data?.length ?? 0"
      [hasError]="!!roleList.error()"
      [tableActions]="tableActions"
      (tableAction)="onTableAction($event)"
      (action)="onAction($event)"
      (rowClick)="onRowClicked($event)"
    ></ui-data-table>
  </div>

</div>
