<div class="w-full sm:px-4 h-full flex flex-col gap-4">

  <div class="flex flex-col gap-1">
    <div>
      <h1 class="text-xl font-semibold text-neutral-800">Clients</h1>
    </div>
    <p class="text-sm text-neutral-600">Manage OAuth clients that are allowed to access protected resources.</p>
  </div>

  <!-- Table -->
  <div class="flex-1 min-h-0">
    <ui-data-table
      class="block h-full"
      [columnGroups]="columnGroups"
      [data]="clientList.value()?.data ?? []"
      [totalCount]="clientList.value()?.totalCount ?? 0"
      [hasError]="!!clientList.error()"
      [tableActions]="tableActions"
      (tableAction)="onTableAction($event)"
      (action)="onAction($event)"
      [enableRowSelection]="true"
      (stateChange)="onTableStateChanged($event)"
      [initialValue]="store.tableState()"
      (rowClick)="onRowClicked($event)"
    ></ui-data-table>
  </div>

</div>
