<ui-base-overlay [title]="'Create Action'">
  <div body>
    <form class="grid grid-cols-1 gap-y-4" (submit)="onSubmit()">
      <app-text-input
        [label]="'Action Name'"
        [fullWidth]="true"
        [placeholder]="'e.g. create'"
        [formField]="actionForm.name"
      ></app-text-input>

      <div class="flex justify-center pt-2">
        <ui-button [loading]="createActionMutation.isLoading()" type="submit">Submit</ui-button>
      </div>
    </form>
  </div>
</ui-base-overlay>
