<div class="w-full h-full flex flex-col gap-4">

  <!-- Create Button -->
  <div class="flex justify-end">
    <ui-button [iconSrc]="'icons/plus.svg'" (click)="onCreate()" type="button">Create Resource</ui-button>
  </div>

  <!-- Table -->
  <div class="flex-1 min-h-0">
    <ui-data-table
      class="block h-full"
      [columnGroups]="columnGroups"
      [data]="resourceList.value()?.data ?? []"
      [totalCount]="resourceList.value()?.data?.length ?? 0"
      [hasError]="!!resourceList.error()"
      (action)="onAction($event)"
      (rowClick)="onRowClicked($event)"
    ></ui-data-table>
  </div>

</div>
